@model Library_Management_System.ViewModels.ProfileViewModel

<div class="card p-4 shadow">

    <h3>Upload Profile Picture</h3>

    @if (TempData["img"] != null)
    {
        <img src="@TempData["img"]"
             width="150"
             height="150"
             class="rounded-circle mb-3" />
    }

    <form asp-action="UploadAvatar"
          method="post"
          enctype="multipart/form-data">

        <input asp-for="AvatarFile"
               class="form-control mb-3" />

        <button class="btn btn-primary">

            Upload

        </button>

    </form>

</div>