<div class="card shadow p-4">

    <h3>Change Password</h3>

    <form method="post">

        <div class="mb-3">

            <label>Current Password</label>

            <input type="password"
                   name="CurrentPassword"
                   class="form-control" />

        </div>

        <div class="mb-3">

            <label>New Password</label>

            <input type="password"
                   name="NewPassword"
                   class="form-control" />

        </div>

        <div class="mb-3">

            <label>Confirm Password</label>

            <input type="password"
                   name="ConfirmPassword"
                   class="form-control" />

        </div>

        <button class="btn btn-success">

            Change Password

        </button>

    </form>

</div>