@model LibraryManagementSystem.Models.Department

@{
    ViewData["Title"] = "Create Department";
}

<h2>Create Department</h2>

<hr />

<form asp-action="Create">

    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>

        <input asp-for="Name" class="form-control" />

        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>

        <textarea asp-for="Description"
                  class="form-control"></textarea>
    </div>

    <button type="submit" class="btn btn-success">
        Save
    </button>

    <a asp-action="Index" class="btn btn-secondary">
        Back
    </a>

</form>