<footer class="footer-section">

    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-4">

                <h4>📚 BOOKVERSE</h4>

                <p>
                    Modern digital library platform for readers,
                    students and book lovers.
                </p>

            </div>

            <div class="col-lg-4">

                <h5>Quick Links</h5>

                <ul class="footer-links">

                    <li>
                        <a asp-controller="Home"
                           asp-action="Index">
                            Home
                        </a>
                    </li>

                    <li>
                        <a asp-controller="Catalog"
                           asp-action="Index">
                            Books
                        </a>
                    </li>

                    <li>
                        <a asp-controller="Events"
                           asp-action="Index">
                            Events
                        </a>
                    </li>

                </ul>

            </div>

            <div class="col-lg-4">

                <h5>Follow Us</h5>

                <div class="social-icons">

                    <i class="bi bi-facebook"></i>
                    <i class="bi bi-instagram"></i>
                    <i class="bi bi-twitter-x"></i>

                </div>

            </div>

        </div>

    </div>

</footer>