<nav class="navbar navbar-expand-lg navbar-dark custom-navbar">

    <div class="container-fluid px-4">

        <a class="navbar-brand fw-bold"
           asp-controller="Home"
           asp-action="Index">

            📚 BOOKVERSE

        </a>

        <button class="navbar-toggler"
                data-bs-toggle="collapse"
                data-bs-target="#menu">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse"
             id="menu">

            <ul class="navbar-nav ms-auto align-items-lg-center gap-lg-3">

                <li class="nav-item">
                    <a class="nav-link"
                       asp-controller="Home"
                       asp-action="Index">
                        Home
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"
                       asp-controller="Catalog"
                       asp-action="Index">
                        Books
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"
                       asp-controller="Events"
                       asp-action="Index">
                        Events
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"
                       asp-controller="Contact"
                       asp-action="Index">
                        Contact
                    </a>
                </li>

                @if (User.Identity != null && User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">

                        <a class="btn btn-primary rounded-pill px-4"
                           asp-controller="Home"
                           asp-action="Dashboard">

                            Dashboard

                        </a>

                    </li>
                }
                else
                {
                    <li class="nav-item">

                        <a class="btn btn-outline-light rounded-pill px-4"
                           asp-controller="Account"
                           asp-action="Login">

                            Login

                        </a>

                    </li>
                }

            </ul>

        </div>

    </div>

</nav>