<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - Library System</title>

    <!-- Bootstrap -->

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" />

    <!-- Font Awesome -->

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />

    <style>

        body {
            margin: 0;
            background: #070b1a;
            color: white;
            font-family: 'Segoe UI', sans-serif;
        }

        .layout-wrapper {
            display: flex;
            min-height: 100vh;
        }

        /* SIDEBAR */

        /* SIDEBAR */

        .sidebar {
            width: 245px;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            background: linear-gradient(180deg,#0f172a,#111827);
            padding: 24px 18px;
            overflow-y: auto;
            z-index: 9999;
            border-right: 1px solid rgba(255,255,255,.06);
        }

        /* PAGE CONTENT */

        .main-content {
            margin-left: 245px;
            width: calc(100% - 245px);
            padding: 25px;
        }

        /* LOGO */

        .brand-logo {
            display: flex;
            align-items: center;
            gap: 14px;
            margin-bottom: 25px;
            text-decoration: none;
        }

        .brand-icon {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #d946ef;
            font-size: 50px;
            font-weight: 800;
        }

        .brand-text h2 {
            margin: 0;
            color: white;
            font-size: 25px;
            font-weight: 900;
            letter-spacing: 1px;
        }

        .brand-text span {
            color: #d946ef;
        }

        .brand-text p {
            margin: 0;
            color: #9ca3af;
            font-size: 7px;
            letter-spacing: 2px;
        }

        /* MENU */

        .menu-heading {
            color: #6b7280;
            font-size: 11px;
            margin: 18px 0 12px;
            letter-spacing: 2px;
            font-weight: 700;
        }

        .menu-item {
            display: flex;
            align-items: center;
            gap: 14px;
            padding: 14px 16px;
            margin-bottom: 8px;
            border-radius: 16px;
            text-decoration: none;
            color: #d1d5db;
            transition: .3s;
            position: relative;
        }

            .menu-item:hover {
                background: rgba(124,58,237,.15);
                color: white;
            }

            .menu-item.active {
                background: linear-gradient(135deg,#7c3aed,#9333ea);
                color: white;
            }

            .menu-item i {
                width: 20px;
                text-align: center;
            }

        .badge-count {
            margin-left: auto;
            background: #9333ea;
            color: white;
            font-size: 11px;
            padding: 4px 8px;
            border-radius: 30px;
        }

        /* HR */

        .sidebar hr {
            border-color: rgba(255,255,255,.08);
            margin: 18px 0;
        }

        /* LOGOUT */

        .logout-box {
            margin-top: 25px;
        }

        .logout-link {
            display: flex;
            align-items: center;
            gap: 12px;
            padding: 14px 16px;
            border-radius: 16px;
            text-decoration: none;
            background: rgba(239,68,68,.12);
            color: #f87171;
            transition: .3s;
        }

            .logout-link:hover {
                background: rgba(239,68,68,.2);
                color: white;
            }

        /* RESPONSIVE */

        @@media(max-width:991px) {

            .sidebar {
                width: 85px;
                padding: 20px 10px;
            }

            .main-content {
                margin-left: 85px;
                width: calc(100% - 85px);
            }

            .brand-text,
            .menu-item span,
            .menu-heading,
            .badge-count {
                display: none;
            }

            .menu-item,
            .logout-link {
                justify-content: center;
            }
        }

        /* =========================
                       LOGO
                    ==========================*/

        .brand-logo {
            display: flex;
            align-items: center;
            gap: 14px;
            margin-bottom: 20px;
        }

        .brand-icon {
            width: 40px;
            height: 40px;
            /* border-radius: 18px; */
            /* background: linear-gradient(135deg,#9333ea,#d946ef); */
            display: flex;
            align-items: center;
            justify-content: center;
            color: #d946ef;
            font-size: 50px;
            font-weight: 800;
            /* box-shadow: 0 10px 30px rgba(168,85,247,.35); */
        }

        .brand-text h2 {
            margin: 0;
            color: white;
            font-size: 25px;
            font-weight: 900;
            letter-spacing: 1px;
        }

        .brand-text span {
            color: #d946ef;
        }

        .brand-text p {
            margin: 0;
            color: #9ca3af;
            font-size: 7px;
            letter-spacing: 2px;
        }

        .menu-title {
            color: #6b7280;
            font-size: 12px;
            margin-top: 22px;
            margin-bottom: 12px;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        .nav-link-custom {
            display: flex;
            align-items: center;
            gap: 14px;
            color: #d1d5db;
            text-decoration: none;
            padding: 13px 16px;
            border-radius: 14px;
            margin-bottom: 10px;
            transition: 0.3s;
            font-size: 15px;
            font-weight: 500;
        }

            .nav-link-custom:hover,
            .nav-link-custom.active {
                background: linear-gradient(90deg,#7c3aed,#9333ea);
                color: white;
            }

            .nav-link-custom i {
                width: 18px;
            }

        /* MAIN CONTENT */

        .main-content {
            margin-left: 260px;
            width: calc(100% - 260px);
            padding: 25px;
        }

        /* TOPBAR */

        .topbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;
        }

        .search-box {
            width: 420px;
            background: #111827;
            border: 1px solid rgba(255,255,255,0.05);
            color: white;
            padding: 13px 18px;
            border-radius: 14px;
            outline: none;
        }

            .search-box::placeholder {
                color: #9ca3af;
            }

        .profile-box {
            display: flex;
            align-items: center;
            gap: 12px;
        }

        .profile-avatar {
            width: 46px;
            height: 46px;
            border-radius: 50%;
            background: linear-gradient(135deg,#7c3aed,#9333ea);
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            font-size: 18px;
        }

        .profile-name {
            font-weight: 600;
        }

        /* RESPONSIVE */

        @@media(max-width:991px) {

            .sidebar {
                position: relative;
                width: 100%;
                height: auto;
            }

            .main-content {
                margin-left: 0;
                width: 100%;
            }

            .layout-wrapper {
                flex-direction: column;
            }

            .topbar {
                flex-direction: column;
                align-items: stretch;
                gap: 20px;
            }

            .search-box {
                width: 100%;
            }
        }

    </style>

</head>

<body>

    <div class="layout-wrapper">


        <!-- SIDEBAR -->
        <!-- SIDEBAR -->

        <aside class="sidebar">

            <!-- LOGO -->

            <a class="brand-logo"
               asp-controller="Home"
               asp-action="Index">

                <div class="brand-icon">
                    ∞
                </div>

                <div class="brand-text">

                    <h2>
                        BOOK<span>VERSE</span>
                    </h2>

                    <p>
                        LIBRARY MANAGEMENT SYSTEM
                    </p>

                </div>

            </a>

            <!-- HOME -->

            <a class="menu-item active"
               asp-controller="Home"
               asp-action="Index">

                <i class="fa-solid fa-house"></i>

                <span>Home</span>

            </a>

            <hr />

            <!-- MEMBER -->

            <div class="menu-heading">
                MEMBER
            </div>

            <div class="menu-list">

                <a class="menu-item"
                   asp-area="Member"
                   asp-controller="Dashboard"
                   asp-action="Index">

                    <i class="fa-solid fa-chart-line"></i>

                    <span>My Dashboard</span>

                </a>

                <a class="menu-item"
                   asp-controller="Borrow"
                   asp-action="MyBooks">

                    <i class="fa-solid fa-book"></i>

                    <span>My Borrowed Books</span>

                </a>

                <a class="menu-item"
                   asp-controller="Borrow"
                   asp-action="History">

                    <i class="fa-solid fa-clock-rotate-left"></i>

                    <span>Borrow History</span>

                </a>

                <a class="menu-item"
                   asp-controller="Wishlist"
                   asp-action="Index">

                    <i class="fa-solid fa-heart"></i>

                    <span>Wishlist</span>

                </a>

                <a class="menu-item"
                   asp-controller="Reservation"
                   asp-action="Index">

                    <i class="fa-solid fa-calendar-check"></i>

                    <span>Reservations</span>

                </a>

                <a class="menu-item"
                   asp-controller="Notifications"
                   asp-action="Index">

                    <i class="fa-solid fa-bell"></i>

                    <span>Notifications</span>

                    <span class="badge-count">
                        2
                    </span>

                </a>

                <a class="menu-item"
                   asp-area="Member"
                   asp-controller="Profile"
                   asp-action="Edit">

                    <i class="fa-solid fa-user"></i>

                    <span>Profile</span>

                </a>

                <a class="menu-item"
                   asp-area="Member"
                   asp-controller="Profile"
                   asp-action="ChangePassword">

                    <i class="fa-solid fa-lock"></i>

                    <span>Change Password</span>

                </a>

                <a class="menu-item"
                   asp-controller="Account"
                   asp-action="Settings">

                    <i class="fa-solid fa-gear"></i>

                    <span>Settings</span>

                </a>

            </div>

            <hr />

            <!-- EXPLORE -->

            <div class="menu-heading">
                EXPLORE
            </div>

            <div class="menu-list">

                <a class="menu-item"
                   asp-controller="Catalog"
                   asp-action="Index">

                    <i class="fa-solid fa-book-open"></i>

                    <span>Browse Books</span>

                </a>

                <a class="menu-item"
                   asp-controller="Category"
                   asp-action="Index">

                    <i class="fa-solid fa-layer-group"></i>

                    <span>Categories</span>

                </a>

                <a class="menu-item"
                   asp-controller="Author"
                   asp-action="Index">

                    <i class="fa-solid fa-pen-nib"></i>

                    <span>Authors</span>

                </a>

                <a class="menu-item"
                   asp-controller="Books"
                   asp-action="NewArrivals">

                    <i class="fa-solid fa-star"></i>

                    <span>New Arrivals</span>

                </a>

                <a class="menu-item"
                   asp-controller="Books"
                   asp-action="Popular">

                    <i class="fa-solid fa-fire"></i>

                    <span>Popular Books</span>

                </a>

                <a class="menu-item"
                   asp-controller="Events"
                   asp-action="Index">

                    <i class="fa-solid fa-calendar-days"></i>

                    <span>Events</span>

                </a>

            </div>

            <!-- LOGOUT -->

            <div class="logout-box">

                <a asp-controller="Account"
                   asp-action="Logout"
                   class="logout-link">

                    <i class="fa-solid fa-right-from-bracket"></i>

                    Logout

                </a>

            </div>

        </aside>

        <!-- MAIN CONTENT -->

        <div class="main-content">

            <!-- TOPBAR -->

            <div class="topbar">

                <input type="text"
                       placeholder="Search books, authors..."
                       class="search-box" />

                <div class="profile-box">

                    <div class="profile-avatar">
                        @User.Identity?.Name?.Substring(0, 1)
                    </div>

                    <div class="profile-name">
                        @User.Identity?.Name
                    </div>

                </div>

            </div>

            <!-- PAGE CONTENT -->
            @RenderBody()

        </div>

    </div>

    <!-- Bootstrap JS -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>